!!!
%html
  %head
    %title BlogFt
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js'
    = javascript_include_tag 'https://code.angularjs.org/1.6.1/angular-sanitize.min.js'
  %body
    .container(ng-controller="articlesController")
      = yield
